*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    /* FIRST COLOR PANEL */
    --green-top: #64ab68;
    --lightblue: #7f9a9c;
    --lightgreen:#836153;
    --brbrown:#925b23;
    --grey: #5f6a6c;
    --green-green: #518159;
    --lightnorage:#E05E00;
    --lightblack:rgb(39, 37, 37);
    --br-light:#c5967a;
    /* SECOND COLOR PANEL */
        --black:#10140d;
        --whitetipe:#f6fafd;
        --king-blue:#021e4b;
        --wannabewhite:#f2edd7ff;

}

@font-face {
    font-family: "press-reg";
    src: url(/aishop/assets/fontawesome-free-6.2.1-web/Lato-Italic.ttf);
}
body{
   font-family:"press-reg";
}
ul{
    list-style-type:none;
}
.cleaner{
    clear: both;
}
/* MAIN HEADER SECTION */
header, main,footer{
    max-width: 100%;
    margin: auto;
}
header{
    top: 0px;
    position: sticky;
    z-index: 4;
}
.head-wrapper {
    padding-top: 1px;
    height: 40px;
    background-color:var(--green-green);
  
}
#logo img{
    margin-left: 10px;
    float: left;
    height: 100px;
    width: 80px ;
    margin-bottom: 10px;
    position: absolute;
    z-index: 2;
}
#head-message{
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-top: 1px;
    font-size: 30px;
}
#head-message p{
    color: var(--whitetipe);
}
#head-message p:hover{
    animation: pulse 0.5s ease-in infinite ;
    color:var(--br-light);
}
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }
#head-message span{
    padding: 5px;
    color: var(--whitetipe);
    font-size: 20px;
}
.nav-bar-b{
    margin-top: -30px;
    float: right;
}
.nav-bar-b ul li{
    display: inline;
    padding: 8px;
}

nav i{
    font-size: 25px;
    color: var(--whitetipe);
}
nav ul li a i:hover{
    color: var( --br-light);
}

#head-all{
    background-image:url(/aishop/assets/img-head/beansb2b.jpg);
    padding: 40px;
}
.border{
    border-right: 3px solid #fff;
}
.head-home h3 {
    font-size: 50px;
    text-decoration: none;
    float:left;
    color: var(--whitetipe);
}
.head-home h3 span{
    color: var(--lightnorage)
}
.home-head ul li{
    margin-top: 9px;
    float: right;
    padding: 10px;
 }
 .home-head ul li a{
    font-size: 30px;
    text-decoration:none;
    color: var(--wannabewhite);
}
.home-head ul li a:hover{
    color: var(--lightnorage);
}
/*END HEADER*/
#f-form{
    background-image: linear-gradient(var(--lightgrey),var(--lightpurple));
    height: 600px;
    width: 100%;
}




/*FOOOTER*/
#cpc{
    padding-top: 10px;
    background-color: var(--green-top);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 0px auto;
}
.ppr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppr p{
    color: var(--lightnorage);
}
.ppr ul{
    align-items: center;
}
.desinger{
    display: flex;
    width: 20%;
    align-items: center;
}
.ppr ul li{
    display: inline;
}
.ppr ul li i{
    cursor: pointer;
    color: var(--wannabewhite);
}
.ppr ul li i:hover{
    color: var(--lightnorage);
}
.desinger a{
   text-decoration: none;
}
.desinger p{
    color: var(--lightnorage);
}
#back-to-start{
    display: grid;
    justify-items: center;
    align-items: baseline;
    background-image: linear-gradient(to right,var(--br-light),var(--green-green));
    height: 100px;
    width: 100%;
}
#back-to-start button{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
    position: absolute;
    padding: 1em 3em;
    color: var(--lightgrey);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em var(--lightnorage);
    background-color: var(--wannabewhite);
    border: 0.25em solid var(--lightnorage);
    border-radius: 1em;
    box-shadow: 0 0 0.2em var(--lightnorage),0 0 2em 0em var(--lightnorage), inset 0 0 0.75em 0.25em var(--lightnorage);
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in;
    /* z-index: 60; */
}
button a{
    text-decoration: none;
    color: var(--king-blue);
}