*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --white:#fff;
    --lightblue:rgb(12, 164, 241);
    --lightgreen:rgb(12, 203, 12);
    --grey:rgb(148, 144, 144);
    --yellow:rgb(243, 243, 5);
    --lightgrey:#E0EBED;
    --lightpurple:#D5D4E4;
    --lightnorage:#E05E00;
    --lightblack:rgb(39, 37, 37);
}

@font-face {
    font-family: "press-reg";
    src: url(/aishop/assets/fontawesome-free-6.2.1-web/Lato-Italic.ttf);
}
body{
    background-color:var(--white);
   font-family:"press-reg";
}
ul{
    list-style-type:none;
}
.cleaner{
    clear: both;
}
/* MAIN HEADER SECTION */
header, main,footer{
    max-width: 1400px;
    margin: auto;
}
.head-wrapper {
    position: sticky;
    top: 0px;
    padding: 1px;
    background-color:var(--lightblue);
    z-index:2;
}
#logo img{
    margin-left: 10px;
    float: left;
    
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
#head-message{
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-top: 15px;
    font-size: 20px;
}
#head-message p{
    color: var(--white);
}
#head-message p:hover{
    animation: pulse 0.4s ease-in infinite ;
    color:var(--yellow);
}
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }
#head-message span{
    color: rgb(153, 237, 62);
    font-size: 20px;
}
.nav-bar-b{
    margin-top: -25px;
    float: right;
}
.nav-bar-b ul li{
    display: inline;
    padding: 5px;
}

nav i{
    color: var(--white);
}
nav ul li a i:hover{
    color: var(--yellow);
}

#head-all{
    background-color: var(--lightgrey);
    padding: 10px;
}
.border{
    border-right: 3px solid #fff;
}
.head-home h3 {
    font-size: 30px;
    text-decoration: none;
    float:left;
    color: var(--lightgreen);
}
.head-home h3 span{
    color: var(--lightblue)
}
.home-head ul li{
    margin-top: 9px;
    float: right;
 }
 .home-head ul li a{
    font-size: 18px;
    text-decoration: none;
    color: var(--lightblue);
}
/* END COVER */
#glry{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 1400px;
    height: 1300px;
    background-image: url(/aishop/assets/gallery-img/g-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.products{
    border-radius: 10px 10px;
    margin-top: 10px;
    display:flex;
    width: 330px;
    height: 150px;
    background-color: var(--white);
}
.mouse img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.item-cost-exp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 2px;
}
.class-price {
    display: flex;
    margin-top: 10px;
    margin: 10px;
    height: 25px;
    justify-content: center;
    background-color: #E05E00;
    width: 90px;
    border-radius: 10px 0;

}
.class-price p{
    font-size: large;
    color: var(--white);
}
span{
    text-decoration: line-through;
}









/* FOOTER SECTION START*/
#cpc{
    background-color: var(--lightblue);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 0px auto;
}
.ppr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppr ul{
    align-items: center;
}
.desinger{
    display: flex;
    width: 20%;
    align-items: center;
}
.desinger span{
    color:var(--lightgreen);
}
.ppr ul li{
    display: inline;
}
.ppr ul li i{
    cursor: pointer;
    color: var(--white);
}
.ppr ul li i:hover{
    color: var(--yellow);
}