*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    /* FIRST COLOR PANEL */
    --greancover:#81bb4b;
    --lightnorage:#E05E00;
    /* SECOND COLOR PANEL */
        --black:#10140d;
        --whitetipe:#f6fafd;

}

@font-face {
    font-family: "press-reg";
    src: url(//aishop/assets/fontawesome-free-6.2.1-web/Lato-Italic.ttf);
}
body{
    background-color: var(--whitetipe);
    font-family:"press-reg";
}
ul{
    list-style-type:none;
}
.cleaner{
    clear: both;
}
/* MAIN HEADER SECTION */
header, main,footer{
    max-width: 100%;
    margin: auto;
}
header{
    top: 0px;
    position: sticky;
    z-index: 4;
}
#head-all{
    height: 70px;
}
a img{
    width: 70px;
    height: 70px;
    margin-top: -10px;
}
.nav-bar-b{
    margin-top: -30px;
    float: right;
}
.nav-bar-b ul li{
    display: inline;
    padding: 8px;
}

nav i{
    font-size: 25px;
    color: var(--lightnorage);
}
#head-all{
    justify-content: space-evenly;
    display: flex;
    background-color: #81bb4b;

}
.border{
    border-right: 3px solid #fff;
}
.head-home h3 {
    padding-top: 10px;
    font-size: 25px;
    text-decoration: none;
    float:left;
    color: var(--whitetipe);
}
.head-home h3 span{
    color: var(--greancover);
}
.home-head ul li{
    margin-top: 15px;
    float: right;
    padding: 10px;
 }
 .home-head ul li a{
    font-size: 20px;
    text-decoration:none;
    color: var(--whitetipe);
}
.home-head ul li a:hover{
    color: var(--lightnorage);
}
/* COVER SECTION */
#wrapper-cover-main{
    background-attachment: fixed;
    margin-top: 10px;
    background-image:url(/aishop/assets/img-cover/Uberry.png);
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.wrapper-up{
    margin-right:-60px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 5px 0px var(--wannabewhite);
    background-image:url(/aishop/assets/img-cover/cover-up-joo.jpg);
    background-position-y:bottom;
    height: 200px;
    width: 500px;
    margin-top: 30px;
    
}
.wrapper-up p{
    padding-top: 20px;
    text-align:center;
    font-size: 22px;
    color: var(--wannabewhite);
font-weight: bold;
}

.wrapper-up button{
    margin-top: 10px;
    transition: transform 0.5s ease-in;
    color: #fff;
    border: hidden;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color:#E05E00;
}
button:hover{
    cursor: pointer;
    transform: scale(1.2) ;
}
.wrapper-up button a{
    color: var(--whitetipe);
    font-family: "press-reg";
}
.wrapper-up h3{
    color: var(--lightblue);
    text-align: center;
}
/*SECTION HEAD END*/
/* MAIN SECTION SELL GALLERY */
#infront{
    margin-top: 10px;
    width: 100%;
    height: 1400px;
}
.text-infront-coffee{
    color: var(--black);
    width:550px;
    height: 30px;
    padding-top: 40px;
    text-align: center;
    margin-left: 700px;
    margin-bottom: 250px;
}
.text-infront-coffee h1{
    font-size: 40px;
    font-weight: bold;
}
.main-coffie{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 1900px;
    justify-content: flex-end;
    align-items: center; 
    gap: 30px;  
    height: 920px;
}
.first-coffee{
    width:400px;
    background-image: url(/aishop/assets/img-main/bobica.jpg);
    height:300px;
    border-radius: 0px 20px 0px 20px;
    transition: transform 0.5s;
    cursor: pointer;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x:20% ;
}
.first-coffee:hover{
    transform: rotate(5deg);
}
.about-coffee{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image:url(/aishop/assets/img-main/harvest.jpg);
    background-repeat:no-repeat;
    width:400px;
    height:300px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: -10px 0px 20px 0px ;
    transition: transform 0.5s;
    background-size:cover;
    background-position-x:50%;
}
.about-coffee:hover{
    transform: translateY(10px);
}
.col .ppp{
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 10px 0;
    background-color: var(--black);
    color: var( --greancover);
}
.pach-coffee{
    background-image: url(/aishop/assets/img-main/teglice.jpeg);
    background-position-y:center;
    width:400px;
    height:300px;
    border-radius: 0px 20px 0px 20px;
    transition: transform 0.5s;
    background-size:cover;
    background-position-x:50%;
}
.pach-coffee:hover{
    transform:translate(0px, 10%);;
}
.small-talk-text{
    width: 300px;
    height: 200px;
}
.small-talk-text p{
    color: var(--black);
    font-size: 24px;
}
.small-talk-text p span{
    color: var(--lightnorage);
    font-weight: bold;
}
.about-berry{
    display: flex;
    width: 1000px;
    flex-direction: row-reverse;
    justify-content: space-between;
}
/*option blok section*/
#offers{
    width: 1900px;
    height: 500px;
}
#we-off{
    width: 1500px;
    height: 40px;
    display:flex;
    justify-content: center;
    width: 500px;
    height: 30px;
}
.off{
    display: flex;
    justify-content: center;
}
.off p{
    color: var(--black);
    font-size: 40px;
}
.delivery-o span{
font-size: 30px;
color: var(--lightnorage);
font-weight:bold ;
}
.quality-0 span{
    font-size: 30px;
    color: var(--lightnorage);
    font-weight:bold ;
    }
.reuse-o span{
        font-size: 30px;
        color: var(--lightnorage);
        font-weight:bold ;
        }

#delivery{
    padding-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 1800px;
}
.delivery-o{
    padding-top:15px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    background-color:var(--whitetipe);
    border-radius: 20px;
    box-shadow: 5px 5px 5px#666;
}
.quality-0{
    padding-top:15px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    background-color:var(--whitetipe);
    border-radius: 20px;
    box-shadow: 5px 5px 5px #666;
}
.reuse-o{
    padding-top:15px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    background-color:var(--whitetipe);
    border-radius: 20px;
    box-shadow: 5px 5px 5px #666;
}
.delivery-o i{
    font-size: 80px;
    color: var(--greancover);
}
.delivery-o h3{
    font-size: 40px;
    color: var(--black);
}
.delivery-o p{
    font-size: 20px;
    color: var(--black);
}
.reuse-o i{
    font-size: 80px;
    color: var(--greancover);
}
.reuse-o h3{
    font-size: 40px;
    color: var(--black);
}
.reuse-o p{
    font-size: 20px;
    color: var(--black);
}
.quality-0 i{
    font-size: 80px;
    color: var(--greancover);
}
.quality-0 h3{
    font-size: 40px;
    color: var(--black);
}
.quality-0 p{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    color: var(--black);
}


/* BLOCK OFFER SECTION */
#repair{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 330px;
    padding-bottom:100px ;
}
.holder p{
    text-align: center;
    color: var(--black);
    width: 800px;
    font-size: 24px;
    border-bottom: 2px solid ;
    border-color: #81bb4b;
    padding-bottom: 10px;
}

/* MAP SECTION */
.how-to-us-map{
    margin-top: 10px;
}
.how-to-us-map iframe{
    width: 100%;
    height: 350px;
}
/* FORM ANIMATED SECTION */

#section-sign{
    display: flex;
    justify-content: space-evenly;
}

#container-f-f{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	height: 500px;
    justify-content: space-evenly;
    gap: 50px;
}
.sign-up-text{
    color: var(--black);
    width: 380px;
    height: 400px;
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
}
.box{
    box-shadow: 0px 0px 10px 0px var(--whitetipe);
	position: relative;
	width: 380px;
	height: 420px;
	background: var(--whitetipe);
	border-radius: 10px solid;
	overflow: hidden;
}
.box::before{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--lightnorage),var(--lightnorage));
	animation: animate 6s linear infinite;
}
.box::after{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--greancover), var(--greancover));
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form{
	position: absolute;
	inset: 2px;
	background-image: linear-gradient(to right,var(--lightnorage),var(--greancover));
	padding: 50px 40px;
	border-radius: 10px;
	z-index: 2;
	display: flex;
	flex-direction: column;
    justify-content: center;
}
h2 
{
	color:var(--whitetipe);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0px;
	padding: 20px 0px 10px;
	font-size: 1em;
	color: var(--whitetipe);
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox i 
{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background:var(--whitetipe);
	border-radius: 4px;
	overflow: hidden;
	transition: 1s;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 40px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: var(--whitetipe);
	text-decoration:var(--whitetipe);
}
.links a:hover, 
.links a:nth-child(2)
{
	color:var(--whitetipe);
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background:var(--whitetipe);
	cursor: pointer;
	border-radius: 10px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
    color: var(--greancover);
}
.links a button{
    border: none;
	outline: none;
	padding: 11px 25px;
	background:var(--lightnorage);
	cursor: pointer;
	border-radius: 10px;
	font-weight: 600;
	width: 120px;
	margin-top: 10px;
    color: var(--wannabewhite);
}
/* FOOTER SECTION */
#cpc{
    background-color: var(--greancover);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
}
.ppr{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
}
.ppr p{
    font-size: 25px;
    color: var(--wannabewhite);
}
.ppr ul{
    padding: 3px;
    align-items: center;
}
.ppr ul li{
    padding: 3px;
}
.rss-sitemap{
    display: flex;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 200px;
}
.rss-sitemap i{
    padding: 10px;
    color: var(--whitetipe);
}
.desinger{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 20%;
    align-items: center;
}
.ppr ul li{
    display: inline;
}
.ppr ul li i{
    cursor: pointer;
    color: var(--whitetipe);
    font-size: 25px;
}
.ppr ul li i:hover{
    color: var(--lightnorage);
}

.desinger p{
    color: var(--whitetipe);
    font-size: 18px;
}
.desinger a{
    color: var(--whitetipe);
    font-size: 18px;
    text-decoration: none;
}
.desinger a:hover{
    color: var(--black);
}
.social{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    align-content: center;
    display: flex;
    width: 300px;
    height: 200px;
}
.social nav ul{
    height: 60px;
    display: flex;
    flex: wrap;
    justify-content: center;
}
.social nav p{
    color: var(--whitetipe);
    font-size: 24px;
}
.social nav ul li{
    color: var(--whitetipe);
    padding: 8px;
    display: inline;
}
.social nav ul li i{
    color: var(--whitetipe);
   width: 20px;
   height: 20px;
}

