*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    /* FIRST COLOR PANEL */
    --green-top: #64ab68;
    --lightblue: #7f9a9c;
    --lightgreen:#836153;
    --brbrown:#925b23;
    --grey: #5f6a6c;
    --green-green: #518159;
    --lightnorage:#E05E00;
    --lightblack:rgb(39, 37, 37);
    --br-light:#c5967a;
    /* SECOND COLOR PANEL */
        --black:#10140d;
        --whitetipe:#f6fafd;
        --king-blue:#021e4b;
        --wannabewhite:#f2edd7ff;

}

@font-face {
    font-family: "press-reg";
    src: url(/aishop/assets/fontawesome-free-6.2.1-web/Lato-Italic.ttf);
}
body{
   font-family:"press-reg";
}
ul{
    list-style-type:none;
}
.cleaner{
    clear: both;
}
/* MAIN HEADER SECTION */
header, main,footer{
    max-width: 100%;
    margin: auto;
}
header{
    top: 0px;
    position: sticky;
    z-index: 4;
}
.head-wrapper {
    padding-top: 1px;
    height: 40px;
    background-color:var(--green-green);
  
}
#logo img{
    margin-left: 10px;
    float: left;
    height: 100px;
    width: 80px ;
    margin-bottom: 10px;
    position: absolute;
    z-index: 2;
}
#head-message{
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-top: 1px;
    font-size: 30px;
}
#head-message p{
    color: var(--whitetipe);
}
#head-message p:hover{
    animation: pulse 0.5s ease-in infinite ;
    color:var(--br-light);
}
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }
#head-message span{
    padding: 5px;
    color: var(--whitetipe);
    font-size: 20px;
}
.nav-bar-b{
    margin-top: -30px;
    float: right;
}
.nav-bar-b ul li{
    display: inline;
    padding: 8px;
}

nav i{
    font-size: 25px;
    color: var(--whitetipe);
}
nav ul li a i:hover{
    color: var( --br-light);
}

#head-all{
    background-image:url(/aishop/assets/img-head/beansb2b.jpg);
    padding: 40px;
}
.border{
    border-right: 3px solid #fff;
}
.head-home h3 {
    font-size: 50px;
    text-decoration: none;
    float:left;
    color: var(--whitetipe);
}
.head-home h3 span{
    color: var(--lightnorage)
}
.home-head ul li{
    margin-top: 9px;
    float: right;
    padding: 10px;
 }
 .home-head ul li a{
    font-size: 30px;
    text-decoration:none;
    color: var(--wannabewhite);
}
.home-head ul li a:hover{
    color: var(--lightnorage);
}
/* COVER SECTION */
#wrapper-cover-main{
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    background-image:url(/aishop/assets/img-cover/cf-cover.jpg);
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.wrapper-up{
    margin-right:-60px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 5px 0px var(--wannabewhite);
    background-image:url(/aishop/assets/img-cover/cover-up-joo.jpg);
    background-position-y:bottom;
    height: 200px;
    width: 500px;
    margin-top: 30px;
    
}
.wrapper-up p{
    padding-top: 20px;
    text-align:center;
    font-size: 22px;
    color: var(--wannabewhite);
font-weight: bold;
}

.wrapper-up button{
    margin-top: 10px;
    transition: transform 0.5s ease-in;
    color: #fff;
    border: hidden;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color:#E05E00;
}
button:hover{
    cursor: pointer;
    transform: scale(1.2) ;
}
.wrapper-up button a{
    color: var(--whitetipe);
    font-family: "press-reg";
}
.wrapper-up h3{
    color: var(--lightblue);
    text-align: center;
}
/*SECTION HEAD END*/
/* MAIN SECTION SELL GALLERY */
#infront{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 1200px;
    background-image: linear-gradient(to right,var(--br-light),var(--green-green));
}
.text-infront-coffee{
    font-size: 35px;
    color: var(--wannabewhite);
    display: inline;
    padding-top: 1px;
    width:550px;
    height: 30px;
}
.main-coffie{
    display: flex;
    margin-top: 150px;
    width: 1600px;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center; 
    gap: 30px;  
}
.first-coffee{
    width: 33%;
    background-image: url(/aishop/assets/img-main/fresh-cup-coffee-with-chocolate-table.jpg);
    height:700px;
    border-radius: 0px 20px 0px 20px;
    transition: transform 0.5s;
    cursor: pointer;
}
.first-coffee:hover{
    transform: translateY(-10px);

}
.about-coffee{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33%;
    background-image:url(/aishop//assets/img-main/cof-cof.jpg);
    background-position-x:center;  
    height: 700px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: -10px 0px 20px 0px ;
    transition: transform 0.5s;
}
.about-coffee:hover{
    transform: translateY(10px);
}
.dartch{
    font-weight:bold;
    font-size:40px;
    color: var(--whitetipe);
    justify-content: center;
}
.about-coffee span{
    color: var(--black);
}
.about-coffee .origin ul{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
}
.about-coffee .origin ul li{
    font-size: 25px;
    color: var(--whitetipe);
    font-weight:bolder;
}
.col .ppp{
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 10px 0;
    background-color: var(--wannabewhite);
    color: var(--lightnorage);
}


.pach-coffee{
    background-image: url(/aishop/assets/img-main/brasil.jpg);
    background-position-y:center;
    width: 33%;
    height: 700px;
    border-radius: 0px 20px 0px 20px;
    transition: transform 0.5s;
}
.pach-coffee:hover{
    transform: translateY(-10px);
}
/* BLOCK OFFER SECTION */
#repair{
    margin-top: 10px;
    width: 100%;
    height: 330px;
    background-image: linear-gradient(to right,var(--br-light),var(--green-green));
}
.holder{
    border-radius:10px 10px 10px 10px ;
    justify-content: start;
    align-items: center;
    width: 50%;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior:auto ;  
    gap: 1.2em;
    overflow-x:auto;
    overscroll-behavior-x:contain;
    scroll-snap-type:x mandatory;
    cursor: pointer;
    margin-left: 600px;
}
.fafa img{
    background-size: cover;
    width: 260px;
    height: 200px;
    padding-top: 40px;
}
.decafe .fafa p{
    text-align: center;
    margin-top: -100px;
    color: var(--king-blue);
    font-weight: bold;
    font-size: 25px;
}
.decafe{
    box-shadow:  0px 0px 50px 0px var(--black);
    border-radius: 10px 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-image: url(/aishop/assets/png/pngwing.com.png);
    background-size: cover;
    background-position-y: -75px;
}
/* MAP SECTION */
.how-to-us-map{
    background-image: linear-gradient(to right,var(--br-light),var(--green-green));
    margin-top: 10px;
}
.how-to-us-map iframe{
    width: 100%;
    height: 200px;
}
/* FORM ANIMATED SECTION */

#container-f-f{
    margin-top: 10px;
    display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	flex-direction: column;
    background-image: linear-gradient(to right,var(--br-light),var(--green-green));
}
.box{
    box-shadow: 0px 0px 10px 0px var(--whitetipe);
	position: relative;
	width: 380px;
	height: 420px;
	background: var(--whitetipe);
	border-radius: 10px solid;
	overflow: hidden;
}
.box::before{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--king-blue),var(--lightnorage));
	animation: animate 6s linear infinite;
}
.box::after{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--lightnorage), var(--king-blue));
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form{
	position: absolute;
	inset: 2px;
	background-image: linear-gradient(to right,var(--br-light),var(--green-green));
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color:var(--grey);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: var(--king-blue);
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background:var(--lightnorage);
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: var(--wannabewhite);
	text-decoration:var(--wannabewhite);
}
.links a:hover, 
.links a:nth-child(2)
{
	color:var(--lightnorage);
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background:var(--lightnorage);
	cursor: pointer;
	border-radius: 10px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
/* FOOTER SECTION */
#cpc{
    padding-top: 10px;
    background-color: var(--green-top);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    margin: 0px auto;
}
.ppr{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
}
.ppr p{
    font-size: 30px;
    color: var(--lightnorage);
}
.ppr ul{
    align-items: center;
}
.rss-sitemap{
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 70px;
    padding-top: 90px;
}
.rss-sitemap i{
    color: var(--whitetipe);
}
.desinger{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 20%;
    align-items: center;
}
.ppr ul li{
    display: inline;
}
.ppr ul li i{
    cursor: pointer;
    color: var(--wannabewhite);
    font-size: 30px;
}
.ppr ul li i:hover{
    color: var(--lightnorage);
}
.desinger a{
    font-weight:bold;
    font-size: 30px;
   text-decoration: none;
}
.desinger p{
    color: var(--lightnorage);
    font-size: 30px;
}
#back-to-start{
    padding-right: 30px;
    display: grid;
    justify-items: end;
    align-items: baseline;
    background-image: linear-gradient(to right,var(--br-light),var(--green-green));
}
#back-to-start button{
    margin-top: -65px;
    position: absolute;
    padding: 1em 3em;
    color: var(--lightgrey);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em var(--lightnorage);
    background-color: var(--wannabewhite);
    border: 0.25em solid var(--lightnorage);
    border-radius: 1em;
    box-shadow: 0 0 0.2em var(--lightnorage),0 0 2em 0em var(--lightnorage), inset 0 0 0.75em 0.25em var(--lightnorage);
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
button a{
    text-decoration: none;
    color: var(--king-blue);
}
