*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --white:#fff;
    --lightblue:rgb(12, 164, 241);
    --lightgreen:rgb(12, 203, 12);
    --grey:rgb(148, 144, 144);
    --yellow:rgb(243, 243, 5);
    --lightgrey:#E0EBED;
    --lightpurple:#D5D4E4;
    --lightnorage:#E05E00;
    --lightblack:rgb(39, 37, 37);
}

@font-face {
    font-family: "press-reg";
    src: url(/assets/fontawesome-free-6.2.1-web/Lato-Italic.ttf);
}
body{
    background-color:var(--white);
   font-family:"press-reg";
}
ul{
    list-style-type:none;
}
.cleaner{
    clear: both;
}
header, main,footer{
    max-width: 1400px;
    margin: auto;
}
.head-wrapper {
    position: sticky;
    top: 0px;
    padding: 1px;
    background-color:var(--lightblue);
    z-index:2;
}
#logo img{
    margin-left: 10px;
    float: left;
    
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
#head-message{
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-top: 15px;
    font-size: 20px;
}
#head-message p{
    color: var(--white);
}
#head-message p:hover{
    animation: pulse 0.4s ease-in infinite ;
    color:var(--yellow);
}
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }
#head-message span{
    color: rgb(153, 237, 62);
    font-size: 20px;
}
.nav-bar-b{
    margin-top: -25px;
    float: right;
}
.nav-bar-b ul li{
    display: inline;
    padding: 5px;
}

nav i{
    color: var(--white);
}
nav ul li a i:hover{
    color: var(--yellow);
}

#head-all{
    background-color: var(--lightgrey);
    padding: 10px;
}
.border{
    border-right: 3px solid #fff;
}
.head-home h3 {
    font-size: 30px;
    text-decoration: none;
    float:left;
    color: var(--lightgreen);
}
.head-home h3 span{
    color: var(--lightblue)
}
.home-head ul li{
    margin-top: 9px;
    float: right;
 }
 .home-head ul li a{
    font-size: 18px;
    text-decoration: none;
    color: var(--lightblue);
}
#wrapper-cover-main{
    flex-direction: column;
    display: flex;
    background-image:url(/aishop/assets/img/main-cover-shop.jpg);
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}
.wrapper-up{
    gap: 20px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin:10px auto;
    background-color: var(--white);
    height: 150px;
    width: 350px;
    display: grid;
    place-items: center;
    align-items: center;
}
.wrapper-up button{
    transition: transform 0.5s ease-in;
    color: #fff;
    border: hidden;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color:#E05E00;
}
button:hover{
    cursor: pointer;
    transform: scale(1.2) ;
}
.wrapper-up h3{
    color: var(--lightblue);
    text-align: center;
}
.wrapper-right{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin:10px auto;
    width: 500px;
    height: 160px;
    background-color: white;
}
.under-text{
    display: flex;
    justify-content: space-evenly;
}
.wrappper-left{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin:10px auto;
    width: 500px;
    height: 160px;
    background-color:var(--white);
}
.wrapper-down-main{
    gap: 10px;
    justify-content: center;
    display: flex;
}
.wrapper-up p{
    font-size: 20px;
    color: var(--lightblue);
}
.wrappper-left img{
    cursor: pointer;
    margin-top: 1px;
    margin-left: 30px;
    flex-direction: column;
    width: 120px;
    height: 100px;
}
.wrappper-left p{
    font-size: 25px;
    color: var(--lightblue);
    text-align: center;
}

.wrapper-right img{
    margin-top: 30px;
    width: 150px;
    height: 100px;
}
.wrapper-right p{
    font-size: large;
    text-align: center;
    color: var(--lightblue);
}
.wrapper-right img:hover{
    transform: scale(1.1) ;
}
.wrappper-left img:hover{
    transform: scale(1.1) ;
}
#infront{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 1200px;
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
}
.first{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    border-radius: 10px 10px;
    margin-top: 30px;
    margin-left: 55px;
    background-color: var(--white);
    flex-wrap: wrap;
    align-content: space-between;
    height: 400px;
    width: 250px;
    flex: column;
    display: flex;
    justify-content: center;
}
.img-article-first img{
  width: 250px;
}
.desription h5{
    text-align: center;
    color: var(rgb(39, 37, 37));
    font-size: 25px;
    
}
article .class-price {
    display: flex;
    margin-top: 10px;
    margin: 10px;
    height: 25px;
    justify-content: center;
    background-color: #E05E00;
    width: 90px;
    border-radius: 10px 0;

}
.class-price p{
    font-size: large;
    color: var(--white);
}
article .desription h2{
text-align: center;
}
.second{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-second img{
width: 250px;
height: 150px;
}
.second .class-price{
    margin: 10px;
    height: 25px;
}
.third{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-third img{
    width: 250px;
    height: 150px;
}
.third .class-price{
    margin: 10px;
    height: 25px;
}
.forth{
    margin-top: 30px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-left: 55px;
    background-color: var(--white);
    flex-wrap: wrap;
    align-content: space-between;
    height: 400px;
    width: 250px;
    flex: column;
    display: flex;
    justify-content: center;
}
.img-article-forth img{
    width: 230px;
    height: 150px;
}
.forth .class-price{
    margin: 10px;
    height: 25px;
}
.fifth{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-fifth img{
width: 250px;
height: 150px;
}
.fifth .class-price{
    margin: 10px;
    height: 25px;
}
h2{
    color: red;
    font-size:30px;
}
.sixth{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-sixth img{
width: 250px;
height: 150px;
}
.sixth .class-price{
    margin: 10px;
    height: 25px;
}
.fifth .desription p{
    background-color:var(--lightnorage);
    width: 340px;
    border: solid;
    border-radius: 50%;
    text-align: center;
    margin-left: 85px;
    font-size: 30px;
    color: var(--white);
}
#movie{
    background-image: linear-gradient(to right, var(--lightgrey),#D5D4E4);
    margin-top: 10px;
    max-width: 100%;
    height:400px;
}
.movie-us video{
    width: 100%;
    height: 400px;
}
#repair{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
}
.holder{
    padding: 20px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#rapir-secction-text h3{
    text-align: center;
}
.pc-change{
    box-shadow: 5px 5px 5px #666;
    border-radius: 10px 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-color: var(--white);
}
.pc-rapair{
    box-shadow: 5px 5px 5px #666;
    border-radius: 10px 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-color: var(--white);
}
.pc-sell{
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px #666;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-color: var(--white);
}
.pc-sell img{
    margin-left: 90px;
}
.pc-rapair img{
    margin-left: 90px;
}
.pc-change img{
    margin-left: 90px;
}
.pc-sell p{
    text-align: center;
}
.pc-rapair p{
    text-align: center;
}
.pc-change p{
    text-align: center;
}
.how-to-us-map{
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
    margin-top: 10px;
}
.how-to-us-map iframe{
    width: 100%;
    height: 200px;
}

 #container-f-f{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
}
/* .box{
    position: relative;
    width: 380px;
    height: 420px;
    background: var(--white);
}
.box form {
    position: absolute;
    inset: 4px;
    background: var(--white);
    padding: 50px 40px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form label{
    color: var(--lightnorage);
    font-weight: 300px;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: var(--lightblack);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
} */
#cpc{
    background-color: var(--lightblue);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 0px auto;
}
.ppr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppr ul{
    align-items: center;
}
.desinger{
    display: flex;
    width: 20%;
    align-items: center;
}
.desinger span{
    color:var(--lightgreen);
}
.ppr ul li{
    display: inline;
}
.ppr ul li i{
    cursor: pointer;
    color: var(--white);
}
.ppr ul li i:hover{
    color: var(--yellow);
}