*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --white:#fff;
    --lightblue:rgb(12, 164, 241);
    --lightgreen:rgb(12, 203, 12);
    --grey:rgb(148, 144, 144);
    --yellow:rgb(243, 243, 5);
    --lightgrey:#E0EBED;
    --lightpurple:#D5D4E4;
    --lightnorage:#E05E00;
    --lightblack:rgb(39, 37, 37);
}

@font-face {
    font-family: "press-reg";
    src: url(/aishop/assets/fontawesome-free-6.2.1-web/Lato-Italic.ttf);
}
body{
    background-color:var(--white);
   font-family:"press-reg";
}
ul{
    list-style-type:none;
}
.cleaner{
    clear: both;
}
/* MAIN HEADER SECTION */
header, main,footer{
    max-width: 1400px;
    margin: auto;
}
.head-wrapper {
    position: sticky;
    top: 0px;
    padding: 1px;
    background-color:var(--lightblue);
    z-index:2;
}
#logo img{
    margin-left: 10px;
    float: left;
    
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
#head-message{
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-top: 15px;
    font-size: 20px;
}
#head-message p{
    color: var(--white);
}
#head-message p:hover{
    animation: pulse 0.4s ease-in infinite ;
    color:var(--yellow);
}
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }
#head-message span{
    color: rgb(153, 237, 62);
    font-size: 20px;
}
.nav-bar-b{
    margin-top: -25px;
    float: right;
}
.nav-bar-b ul li{
    display: inline;
    padding: 5px;
}

nav i{
    color: var(--white);
}
nav ul li a i:hover{
    color: var(--yellow);
}

#head-all{
    background-color: var(--lightgrey);
    padding: 10px;
}
.border{
    border-right: 3px solid #fff;
}
.head-home h3 {
    font-size: 30px;
    text-decoration: none;
    float:left;
    color: var(--lightgreen);
}
.head-home h3 span{
    color: var(--lightblue)
}
.home-head ul li{
    margin-top: 9px;
    float: right;
 }
 .home-head ul li a{
    font-size: 18px;
    text-decoration: none;
    color: var(--lightblue);
}
/* COVER SECTION */
#wrapper-cover-main{
    flex-direction: column;
    display: flex;
    background-image:url(/aishop/assets/img/main-cover-shop.jpg);
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}
.wrapper-up{
    gap: 20px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin:10px auto;
    background-color: var(--white);
    height: 150px;
    width: 350px;
    display: grid;
    place-items: center;
    align-items: center;
}
.wrapper-up button{
    transition: transform 0.5s ease-in;
    color: #fff;
    border: hidden;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color:#E05E00;
}
button:hover{
    cursor: pointer;
    transform: scale(1.2) ;
}
.wrapper-up h3{
    color: var(--lightblue);
    text-align: center;
}
.wrapper-right{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin:10px auto;
    width: 500px;
    height: 160px;
    background-color: white;
}
.under-text{
    display: flex;
    justify-content: space-evenly;
}
.wrappper-left{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin:10px auto;
    width: 500px;
    height: 160px;
    background-color:var(--white);
}
.wrapper-down-main{
    gap: 10px;
    justify-content: center;
    display: flex;
}
.wrapper-up p{
    font-size: 20px;
    color: var(--lightblue);
}
.wrappper-left img{
    cursor: pointer;
    margin-top: 1px;
    margin-left: 30px;
    flex-direction: column;
    width: 120px;
    height: 100px;
}
.wrappper-left p{
    font-size: 25px;
    color: var(--lightblue);
    text-align: center;
}

.wrapper-right img{
    margin-top: 30px;
    width: 150px;
    height: 100px;
}
.wrapper-right p{
    font-size: large;
    text-align: center;
    color: var(--lightblue);
}
.wrapper-right img:hover{
    transform: scale(1.1) ;
}
.wrappper-left img:hover{
    transform: scale(1.1) ;
}
/* MAIN SECTION SELL GALLERY */
#infront{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 1200px;
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
}
.first{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    border-radius: 10px 10px;
    margin-top: 30px;
    margin-left: 55px;
    background-color: var(--white);
    flex-wrap: wrap;
    align-content: space-between;
    height: 400px;
    width: 250px;
    flex: column;
    display: flex;
    justify-content: center;
}
.img-article-first img{
  width: 250px;
}
.desription h5{
    text-align: center;
    color: var(rgb(39, 37, 37));
    font-size: 25px;
    
}
article .class-price {
    display: flex;
    margin-top: 10px;
    margin: 10px;
    height: 25px;
    justify-content: center;
    background-color: #E05E00;
    width: 90px;
    border-radius: 10px 0;

}
.class-price p{
    font-size: large;
    color: var(--white);
}
article .desription h2{
text-align: center;
}
.second{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-second img{
width: 250px;
height: 150px;
}
.second .class-price{
    margin: 10px;
    height: 25px;
}
.third{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-third img{
    width: 250px;
    height: 150px;
}
.third .class-price{
    margin: 10px;
    height: 25px;
}
.forth{
    margin-top: 30px;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-left: 55px;
    background-color: var(--white);
    flex-wrap: wrap;
    align-content: space-between;
    height: 400px;
    width: 250px;
    flex: column;
    display: flex;
    justify-content: center;
}
.img-article-forth img{
    width: 230px;
    height: 150px;
}
.forth .class-price{
    margin: 10px;
    height: 25px;
}
.fifth{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-fifth img{
width: 250px;
height: 150px;
}
.fifth .class-price{
    margin: 10px;
    height: 25px;
}
h2{
    color: red;
    font-size:30px;
}
.sixth{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--white);
    width: 500px;
    height: 400px;
}
.img-article-sixth img{
width: 250px;
height: 150px;
}
.sixth .class-price{
    margin: 10px;
    height: 25px;
}
.fifth .desription p{
    background-color:var(--lightnorage);
    width: 340px;
    border: solid;
    border-radius: 50%;
    text-align: center;
    margin-left: 85px;
    font-size: 30px;
    color: var(--white);
}
/* MOVIE SECTION */
#movie{
    background-image: linear-gradient(to right, var(--lightgrey),#D5D4E4);
    margin-top: 10px;
    max-width: 100%;
    height:400px;
}
.movie-us video{
    width: 100%;
    height: 400px;
}
/* BLOCK OFFER SECTION */
#repair{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
}
.holder{
    padding: 20px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#rapir-secction-text h3{
    text-align: center;
}
.pc-change{
    box-shadow: 5px 5px 5px #666;
    border-radius: 10px 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-color: var(--white);
}
.pc-rapair{
    box-shadow: 5px 5px 5px #666;
    border-radius: 10px 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-color: var(--white);
}
.pc-sell{
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px #666;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-color: var(--white);
}
.pc-sell img{
    margin-left: 90px;
}
.pc-rapair img{
    margin-left: 90px;
}
.pc-change img{
    margin-left: 90px;
}
.pc-sell p{
    text-align: center;
}
.pc-rapair p{
    text-align: center;
}
.pc-change p{
    text-align: center;
}
.how-to-us-map{
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
    margin-top: 10px;
}
.how-to-us-map iframe{
    width: 100%;
    height: 200px;
}
/* FORM ANIMATED SECTION */

#container-f-f{
    display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	flex-direction: column;
    background-image: linear-gradient(to right, #D5D4E4,var(--lightgrey));
}
.box{
	position: relative;
	width: 380px;
	height: 420px;
	background: var(--white);
	border-radius: 8px;
	overflow: hidden;
}
.box::before{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#83ff45,var(--lightnorage));
	animation: animate 6s linear infinite;
}
.box::after{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--lightnorage),#83ff45);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
	position: absolute;
	inset: 2px;
	background:var(--white);
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color:var(--grey);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color:var(--lightnorage);
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background:#83ff45;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #83ff45;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background:var(--lightnorage);
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}
/* FOOTER SECTION */
#cpc{
    background-color: var(--lightblue);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 0px auto;
}
.ppr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ppr ul{
    align-items: center;
}
.desinger{
    display: flex;
    width: 20%;
    align-items: center;
}
.desinger span{
    color:var(--lightgreen);
}
.ppr ul li{
    display: inline;
}
.ppr ul li i{
    cursor: pointer;
    color: var(--white);
}
.ppr ul li i:hover{
    color: var(--yellow);
}